body{
padding:20px;
margin:0px;
}
#tablecontainer{
				background-color:#eee;
				border:1px solid #999;
				padding:20px;
                overflow:hidden;
}


#团队标志{
	       width:200px;
		   height:80px;
		   padding:20px;
		   margin-right:20px;
		   border:1px solid #999;
		   background-color:white;
		   float:left;
}
#团队logo{
	      width:80px;
	      position:absolute;
		  top:60px;
		  left:60px;
		  margin:0px;
}
#团队名称{
	      margin:0px;
		  position:relative;
		  top:0px;
		  left:110px;
}
	       

#团队介绍{
	       width:auto;
		   padding:20px;
		   border:1px solid #999;
		   display:table-cell;
		   background-color:white;
}
#个人标志{
	       width:80px;
		   padding:20px;
		   padding-bottom:0px;
		   border:1px solid black;
		   background-color:white;
		   float:right;
		   margin-left:20px;
		   
}
.个人logo{
	      margin-bottom:20px;
		  
}
		  