$header-bgcolor:#008ac9;
$aside-bgcolor:#2d3246;
$main-bgcolor:#eeeeee;
$aside-color:#696d6d;
$aside-selected-bgcolor:#5d6373;
$section-2-font-color:#bcbab1;
$bgcolorlist-1:#1dbd96;
$bgcolorlist-2:#007bd0;
$bgcolorlist-3:#e8404d;
$bgcolorlist-4:yellow;
$bgproject-title:#d7dce3;
$width:100%;
$padding:0;
$margin:0;
$hotwidthlist-1:160px;
$hotwidthlist-2:150px;
$hotwidthlist-3:140px;
$hotwidthlist-4:130px;
$hotwidthlist-5:120px;
$hotwidthlist-6:110px;
$hotwidthlist-7:100px;
$hotwidthlist-8:90px;
$hotwidthlist-9:80px;
$hotwidthlist-10:70px;
$hotcolorlist-1:red;
$hotcolorlist-2:red;
$hotcolorlist-3:orange;
$hotcolorlist-4:blue;
$hotcolorlist-5:blue;
$hotcolorlist-6:blue;
$hotcolorlist-7:blue;
$hotcolorlist-8:blue;
$hotcolorlist-9:blue;
$hotcolorlist-10:blue;