@import  "variables.scss";
@import  "mixin.scss";
@import  "layout.scss";



@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 3px;
  right:5px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-book:before {
  content: "\e043";
}